<html>
	<head>
		<title>Keep</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_new.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/yesnodialog.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/qrcodedialog.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mypp_orange_white.css') }}">
		<link href="https://parsleyjs.org/src/parsley.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/qrcode.js"></script>
	</head>
<style>
</style>
<script type="text/javascript">

	function filterBySearch() {
		var td, i, tdArr, j;
		var input = $("#searchInput")[0];
		var filter = input.value.toUpperCase();
		var table = $("#keeptable")[0];
		var tr = table.getElementsByTagName("tr");

		// Loop through all table rows
		for (i = 1; i < tr.length; i++) {
			tdArr = tr[i].getElementsByTagName("td");
			// Loop through all table columns in the current row, and hide those who don't match the search query
			var found = false;
			for (j = 0; j < tdArr.length; j++) {
				td = tdArr[j];
				if (td) {
					if (td.textContent.toUpperCase().indexOf(filter) > -1 ) {
						found = true;
						break;
					}
				}
			}

			if (found) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}

	function onAddNewEntryFormSubmit(){
		console.log("onAddNewEntryFormSubmit");
		var data = {
			"name": $('#add_new_entry_modal [name="name"]')[0].value,
			"link": $('#add_new_entry_modal [name="link"]')[0].value,
			"tags": $('#add_new_entry_modal [name="tags"]')[0].value,
			"pwd": $('#add_new_entry_modal [name="pwd"]')[0].value
		}

		$.ajax({
			type: 'POST',
			url: '/keep/api/v1/new_entry' + name,
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(resp) {
				if(resp.data === "created") {
					generateKeepTable();
				}
			},
			error: function() {
				console.log('error');
			}
		});

		$("#add_new_entry_modal .reg-form")[0].reset();
		addNewDialogClose();

		return false;
	}

	function addNewDialogOpen() {
		$("#add_new_entry_modal")[0].style.display = "block";
		$('#add_new_entry_modal [name="name"]').focus();
		$("#add_new_entry_modal .closediv")[0].onclick = addNewDialogClose;
	}

	function addNewDialogClose() {
		$("#add_new_entry_modal .reg-form")[0].reset();
		$("#add_new_entry_modal")[0].style.display = "none";
	}

	function confirmDeleteDialogOpen(glyph) {
		glyphToDelete = glyph;
		var name = $(glyphToDelete).closest('tr')[0].cells[0].innerText;
		$("#name-to-confirm-delete")[0].innerText = "'" + name + "'";
		$("#confirm_delete_modal")[0].style.display = "block";
	}

	function confirmDeleteDialogCloseNo() {
		$("#confirm_delete_modal")[0].style.display = "none";
	}

	function confirmDeleteDialogCloseYes() {
		var name = $(glyphToDelete).closest('tr')[0].cells[0].innerText;

		$.ajax({
			type: 'DELETE',
			url: '/keep/api/v1/rm?name=' + name,
			success: function(resp) {
				if (resp.data === "deleted") {
					$("#confirm_delete_modal")[0].style.display = "none";
					generateKeepTable();
				}
			},
			error: function() {
			}
		});
		
	}

	function generateKeepTable() {
		$.ajax({
			type: 'GET',
			url: '/keep/api/v1/ll',
			success: function(resp) {
				var table_data = resp.data;
				var mytable = $("#keeptable")[0];
				var newTblBody = document.createElement("tbody");

				// delete existing rows
				var count = $('#keeptable tr').length;
				for(var i=1; i<count; i++) {
					mytable.deleteRow(1);
				}

				// insert new rows
				for(var i=0; i<table_data.length; i++) {
					row = mytable.insertRow(-1);
					var cell = row.insertCell(-1);
					cell.innerHTML = table_data[i].name;
					var cell = row.insertCell(-1);
					cell.innerHTML = table_data[i].tags;
					var cell = row.insertCell(-1);
					cell.innerHTML = '<a href="' + table_data[i].link + '" target="_blank" rel="noopener noreferrer">'+ table_data[i].link + '</a>';
					var cell = row.insertCell(-1);
					cell.innerHTML = '<div class="button" id="button-5" onclick="return false"><div id="translate"></div><a href="#">edit</a></div>';
					cell.innerHTML = '<span style="font-size: 2em; color: Grey;">\
							<i class="fa fa-trash" onclick="confirmDeleteDialogOpen(this)" title="delete"></i>\
						</span>\
						<span style="font-size: 2.1em; color: Grey;">\
							<i class="fa fa-edit" onclick="editEntryDialogOpen(this)" title="edit"></i>\
						</span>\
						<span style="font-size: 2em; color: Grey;">\
							<i class="fa fa-copy" onclick="copy(this)" title="copy"></i>\
						</span>\
						<span style="font-size: 2em; color: Grey;">\
							<i class="fa fa-qrcode" onclick="qrcodeDialogOpen(this)" title="qr code"></i>\
						</span>';
				}
			},
			error: function() {
			}
		});
	}
	
	function copy(glyph) {
		var name = $(glyph).closest('tr')[0].cells[0].innerText;
		$.ajax({
			type: 'GET',
			url: '/keep/api/v1/cp?name=' + name,
			success: function(resp) {
				glyph.style.color = '#00ff00';
				glyph.onmouseover = function(){};
				glyph.onmouseout = function(){};

				setTimeout(function() { 
					glyph.style.color = 'grey';
					glyph.onmouseover = function() {
						glyph.style.color = 'seagreen';
					}
					glyph.onmouseout = function() {
						glyph.style.color = 'grey';
					}
					}, 3000);
			},
			error: function() {
			}
		});
	}

	function editEntryDialogOpen(glyph) {
		var aTableRow = $(glyph).closest('tr')[0];

		var formElements = $("#edit_entry_modal .reg-form")[0].elements;
		formElements["name"].value = aTableRow.cells[0].innerText;
		formElements["tags"].value = aTableRow.cells[1].innerText;
		formElements["link"].value = aTableRow.cells[2].innerText;


		$("#edit_entry_modal")[0].style.display = "block";
		$("#edit_entry_modal .reg-form [name='name']").focus();
		$("#edit_entry_modal .closediv")[0].onclick = editEntryDialogClose;
	}

	function editEntryDialogClose() {
		$("#edit_entry_modal .reg-form")[0].reset();
		$("#edit_entry_modal")[0].style.display = "none";
	}

	function onEditEntryModalFormSubmit() {
		var formElements = $("#edit_entry_modal .reg-form")[0].elements;
		var data = {
			"name": formElements["name"].value,
			"link": formElements["link"].value,
			"tags": formElements["tags"].value,
			"pwd": formElements["pwd"].value
		}

		$.ajax({
			type: 'PUT',
			url: '/keep/api/v1/update_entry' + name,
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(resp) {
				console.log('success');
				if(resp.data === "updated") {
					generateKeepTable();
				}
			},
			error: function() {
				console.log('error');
			}
		});
		editEntryDialogClose();
		return false;
	}

	function qrcodeDialogOpen(glyph) {
		var name = $(glyph).closest('tr')[0].cells[0].innerText;
		console.log(name);
		$.ajax({
			type: 'GET',
			url: '/keep/api/v1/genqr?name=' + name,
			success: function(resp) {
				if(resp.data.result === 'success') {
					$('#qrcode_modal .qrcode-img').attr('src', `data:image/png;base64,${resp.data.bin}`);

					// show modal
					$("#qrcode_modal")[0].style.display = "block";
				}
			},
			error: function() {
			}
		});

	}

	function qrcodeDialogClose() {
		$("#qrcode_modal")[0].style.display = "none";
	}

	function toggleShowPassword(iClassName) {
		$(iClassName + " .pwd-show").click(function() {
			console.log("show/hide click");
			var input = $(iClassName + " .reg-form [name='pwd']");
			if (input.attr("type") == "password") {
				this.children[0].textContent = "hide";
				input.attr("type", "text");
			} else {
				this.children[0].textContent = "show";
				input.attr("type", "password");
			}
		});
	}

	$( document ).ready(function() {

		// fill keep table
		generateKeepTable();

		// add new entry submit action
		$("#add_new_entry_modal .reg-form")[0].onsubmit = onAddNewEntryFormSubmit;
		// edit entry submit action
		$("#edit_entry_modal .reg-form")[0].onsubmit = onEditEntryModalFormSubmit;

		// toggle show/hide password in add new entry form
		toggleShowPassword("#add_new_entry_modal");

		// toggle show/hide password in add new entry form
		toggleShowPassword("#edit_entry_modal");

		// hook close button for qrcode popup close button
		$("#qrcode_modal .closediv")[0].onclick = qrcodeDialogClose;
	});

	</script>
	<body>
		<h1><span class="lightblue">the</span> <span class="darkgreen">Keep</span></h1>
		<div class="button-action button-action-positive" id="new_entry_button" title="add new entry" onclick="addNewDialogOpen()">
			<a href="#">new</a>
		</div>

		<div id="add_new_entry_modal" class="modal">
			<div class="dppopup modal-content">
				<div class="ppheader">
					<label class="pptitle">Add new entry</label>
					<div class="closediv unselectable">X</div>
				</div>
				<div class="ppformwrapper">
					<form action="none" class="reg-form">
						<div class="reg-form-row">
							<label for="name">Name</label>
							<input name="name" type="text" autocomplete="off" required/>
						</div>
						<div class="reg-form-row">
							<label for="link">Link</label>
							<input name="link" type="text" autocomplete="off" required/>
						</div>
						<div class="reg-form-row">
							<label for="tags">Tags</label>
							<input name="tags" type="text" autocomplete="off"/>
						</div>
						<div class="reg-form-row">
							<label for="pwd">Password</label>
							<input name="pwd" type="password" autocomplete="off" required/>
							<div class="pwd-show">
								<label class="unselectable">show</label>
							</div>
						</div>
						<div class="reg-form-submit">
							<input type="submit" value="save">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end modal add_new -->

		<!-- modal confirm delete -->
		<div id="confirm_delete_modal" class="modal">
			<div class="yesno-dialog">
				<div class="modal-title"><span class="lightblue">confirm</span> <span style="color: #FB667A">Delete</span></div>
				<h3 id="name-to-confirm-delete"></h3>
				<br/>
				<div class="button-no" id="button-no" onclick="confirmDeleteDialogCloseNo()">
					<a href="#" style="color:red">no</a>
				</div>
				<div class="button-yes" id="button-yes" onclick="confirmDeleteDialogCloseYes()">
					<a href="#" style="color:seagreen">yes</a>
				</div>
				<br/>
				<br/>
			</div>
		</div>
		<!-- end modal confirm delete -->

		<!-- modal edit record -->
		<div id="edit_entry_modal" class="modal">
			<div class="dppopup modal-content">
				<div class="ppheader">
					<label class="pptitle">Edit entry</label>
					<div class="closediv unselectable">X</div>
				</div>
				<div class="ppformwrapper">
					<form action="none" class="reg-form">
						<div class="reg-form-row">
							<label for="name">Name</label>
							<input name="name" type="text" autocomplete="off" disabled/>
						</div>
						<div class="reg-form-row">
							<label for="link">Link</label>
							<input name="link" type="text" autocomplete="off" required/>
						</div>
						<div class="reg-form-row">
							<label for="tags">Tags</label>
							<input name="tags" type="text" autocomplete="off"/>
						</div>
						<div class="reg-form-row">
							<label for="pwd">Password</label>
							<input name="pwd" type="password" autocomplete="off"/>
							<div class="pwd-show">
								<label class="unselectable">show</label>
							</div>
						</div>
						<div class="reg-form-submit">
							<input type="submit" value="save">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end modal edit record -->

		<!-- qrcode modal -->
		<div id="qrcode_modal" class="modal">
			<div class="dppopup modal-content">
				<div class="ppheader">
					<label class="pptitle">QR Code</label>
					<div class="closediv unselectable">X</div>
				</div>
				<div class="ppqrcodewrapper">
					<div class="qrcode-div" id="qrcode-div">
						<img class="qrcode-img" src="" alt=""/>
					</div>
				</div>
			</div>	
		</div>
		<!-- end qrcode modal -->

		<br/>
		<br/>
		<!-- search bar -->

		<input type="text" id="searchInput" onkeyup="filterBySearch()" placeholder="search here..." title="type in a name" autocomplete="off">

		<!-- end search bar -->

		<!-- keep table -->
		<table id="keeptable" class="container">
			<thead>
				<tr>
					<th style="width:10%"><h1>name</h1></th>
					<th style="width:15%"><h1>tags</h1></th>
					<th style="width:64%"><h1>link</h1></th>
					<th style="width:11%"><h1/>actions</th>
				</tr>
			</thead>
		</table>
		<!-- end keep table -->
	</body>
</html>
