<html>
	<head>
		<title>Keep</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_new.css') }}">
		<link href="https://parsleyjs.org/src/parsley.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
<style>
</style>
<script type="text/javascript">
	generateTable();

	function filterBySearch() {
		var td, i, tdArr, j;
		var input = document.getElementById("searchInput");
		var filter = input.value.toUpperCase();
		var table = document.getElementById("keeptable");
		var tr = table.getElementsByTagName("tr");

		// Loop through all table rows
		for (i = 1; i < tr.length; i++) {
			tdArr = tr[i].getElementsByTagName("td");
			// Loop through all table columns in the current row, and hide those who don't match the search query
			var found = false;
			for (j = 0; j < tdArr.length; j++) {
				td = tdArr[j];
				if (td) {
					if (td.textContent.toUpperCase().indexOf(filter) > -1 ) {
						found = true;
						break;
					}
				}
			}

			if (found) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}

	function onSubmitForm(){
		console.log(document.getElementById("actual-registration-form"))
		var nameVal = document.getElementsByName("input-name")[0].value;
		var linkVal = document.getElementsByName("input-link")[0].value;
		var tagsVal = document.getElementsByName("input-tags")[0].value;
		var pwdVal = document.getElementsByName("input-pwd")[0].value;
		console.log(nameVal);
		console.log(linkVal);
		console.log(tagsVal);
		console.log(pwdVal);
		var data = {
			"name": nameVal,
			"link": linkVal,
			"tags": tagsVal,
			"pwd": pwdVal
		}

		$.ajax({
			type: 'POST',
			url: '/keep/api/v1/new_entry' + name,
			data: JSON.stringify(data),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(resp) {
				console.log('success');
				console.log(resp);
				if(resp.data === "created") {
					generateTable();
				}
			},
			error: function() {
				console.log('error');
			}
		});

		document.getElementById("actual-registration-form").reset();
		addNewDialogClose();

		return false;
	}

	function addNewDialogOpen() {
		console.log('in openForm');
		document.getElementById("add_new_modal").style.display = "block";
		var span = document.getElementById("add-new-close-button");
		span.onclick = addNewDialogClose;
	}

	function addNewDialogClose() {
		document.getElementById("actual-registration-form").reset();
		document.getElementById("add_new_modal").style.display = "none";
	}

	function confirmDeleteDialogOpen(glyph) {
		glyphToDelete = glyph;
		document.getElementById("confirm_delete_modal").style.display = "block";
	}

	function confirmDeleteDialogCloseNo() {
		document.getElementById("confirm_delete_modal").style.display = "none";
	}

	function confirmDeleteDialogCloseYes() {
		var name = $(glyphToDelete).closest('tr')[0].cells[0].innerText;
		console.log('confirm delete ' + name);

		$.ajax({
			type: 'DELETE',
			url: '/keep/api/v1/rm?name=' + name,
			success: function(resp) {
				if (resp.data === "deleted") {
					document.getElementById("confirm_delete_modal").style.display = "none";
					generateTable();
				}
			},
			error: function() {
			}
		});
		
	}

	function generateTable() {
		$.ajax({
			type: 'GET',
			url: '/keep/api/v1/ll',
			success: function(resp) {
				var table_data = resp.data;
				console.log(table_data);
				var mytable = document.getElementById("keeptable");
				var newTblBody = document.createElement("tbody");

				// delete existing rows
				var count = $('#keeptable tr').length;
				for(var i=1; i<count; i++) {
					mytable.deleteRow(1);
				}

				// insert new rows
				for(var i=0; i<table_data.length; i++) {
					row = mytable.insertRow(-1);
					var cell = row.insertCell(-1);
					cell.innerHTML = table_data[i].name;
					var cell = row.insertCell(-1);
					cell.innerHTML = table_data[i].tags;
					var cell = row.insertCell(-1);
					cell.innerHTML = '<a href="' + table_data[i].link + '" target="_blank" rel="noopener noreferrer">'+ table_data[i].link + '</a>';
					var cell = row.insertCell(-1);
					cell.innerHTML = '<div class="button" id="button-5" onclick="return false"><div id="translate"></div><a href="#">edit</a></div>';
					cell.innerHTML = '<span style="font-size: 2em; color: Grey;">\
							<i class="fa fa-trash" onclick="confirmDeleteDialogOpen(this)"></i>\
						</span>\
						<span style="font-size: 2.1em; color: Grey;">\
							<i class="fa fa-edit"></i>\
						</span>\
						<span style="font-size: 2em; color: Grey;">\
							<i class="fa fa-copy" onclick="copy(this)"></i>\
						</span>';
				}
			},
			error: function() {
			}
		});
	}
	
	function deleteForSearch(glyph) {
		var name = $(glyph).closest('tr')[0].cells[0].innerText;
		var kt = $("#keeptable");
		console.log(name);
		console.log(kt);
	}

	function copy(glyph) {
		var name = $(glyph).closest('tr')[0].cells[0].innerText;
		$.ajax({
			type: 'GET',
			url: '/keep/api/v1/cp?name=' + name,
			success: function(resp) {
				console.log(glyph);
				glyph.style.color = '#00ff00';
				glyph.onmouseover = function(){};
				glyph.onmouseout = function(){};

				setTimeout(function() { 
					glyph.style.color = 'grey';
					glyph.onmouseover = function() {
						glyph.style.color = 'seagreen';
					}
					glyph.onmouseout = function() {
						glyph.style.color = 'grey';
					}
					}, 3000);
			},
			error: function() {
			}
		});
	}
	</script>
	<body>
		<h1><span class="lightblue">the</span> <span class="darkgreen">Keep</span></h1>
		<div class="button" id="button-5" onclick="addNewDialogOpen()">
			<div id="translate"></div>
			<a href="#">new</a>
		</div>

		<!-- modal add_new -->
		<div id="add_new_modal" class="modal">
			<div class="modal-content">
				<span class="close" id="add-new-close-button">&times;</span>
				<div id="registration-form">
				<div class='fieldset'>
					<legend><span class="lightblue">new</span> <span class="darkgreen">Entry</span></legend>
					<form id="actual-registration-form" onsubmit="return onSubmitForm()" class="form-container" autocomplete="off">
						<div class='row'>
							<label for='input-name'>name</label>
							<input type="text" class="form-control" required placeholder="name..." name="input-name" id="input-name">
						</div>
						<div class='row'>
							<label for="input-link">link</label>
							<input type="text" class="form-control" required placeholder="link..." name="input-link" id="input-link">
						</div>
						<div class='row'>
							<label for="input-tags">tags</label>
							<input type="text" placeholder="short comma separated tags (e.g mac,hw,news)" name="input-tags" id="input-tags">
						</div>
						<div class='row'>
							<label for="input-pwd">password</label>
							<input type="password" class="form-control" placeholder="password" name="input-pwd" id="input-pwd" required>
						</div>
						<input type="submit" value="save">
					</form>
				</div>
			</div>
			</div>
		</div>
		<!-- end modal add_new -->

		<!-- modal confirm delete -->
		<div id="confirm_delete_modal" class="modal">
			<div class="modal-content">
				<h2>confirm delete?</h2>
				<div class="button-yesno" id="button-no" onclick="confirmDeleteDialogCloseNo()">
					<a href="#" style="color:red">no</a>
				</div>
				<div class="button-yesno" id="button-yes" onclick="confirmDeleteDialogCloseYes()">
					<a href="#" style="color:seagreen">yes</a>
				</div>
			</div>
		</div>
		<!-- end modal confirm delete -->

		<br/>
		<br/>
		<input type="text" id="searchInput" onkeyup="filterBySearch()" placeholder="search here..." title="type in a name" autocomplete="off">
		<table id="keeptable" class="container">
			<thead>
				<tr>
					<th style="width:10%"><h1>name</h1></th>
					<th style="width:15%"><h1>tags</h1></th>
					<th style="width:65%"><h1>link</h1></th>
					<th style="width:10%"><h1/>actions</th>
				</tr>
			</thead>
		</table>
	</body>
</html>
