<html>
	<head>
		<title>PassGen</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/passgen.css') }}">
	</head>
<style>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function generate() {
		$.ajax({
			type: 'GET',
			url: '/keep/api/v1/passgen/',
			success: function(resp) {
				$("#pwdlbl").text(resp.data.pwd);
			},
			error: function() {
			}
		});
	}
</script>
<body>
	<div class="parent center">
		<h1>Random password <span class="darkgreen">Generator</span></h1>

		<button class="button" onclick="generate()">generate</button>
		<br/><br/>
		<label id="pwdlbl" class="pwdlbl" for="pwd"></label>
	</div>

</body>
</html>
