:root {
    --main-color: rgb(0, 153, 255);
    --hover-color: rgb(57, 141, 197);
    --hover-text-color: white;
    --table-hover: rgba(0, 153, 255, 0.5);
    --table-header-color: white;
    --table-row-color:black;
    --table-row-hover-color: black;
    --table-alternate-odd: rgba(0, 153, 255, 0.15);
    --table-alternate-even: rgba(0, 153, 255, 0.07);
    --glyph-color: grey;
    --glyph-hover-color: rgb(11, 185, 78);
    --glyph-hover-color: white;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}