@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
	background-color:#364351;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }
.darkgreen { color: #206789 }
.lightblue { color: #4DC3FA }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
	text-transform: uppercase;
  color: #206789;
}

.container td {
  font-weight: normal;
  font-size: .8em;
  word-wrap:break-word;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  table-layout: fixed;
}

#searchInput {
  background-image: url('searchicon.png');
  background-position: 10px 10px;
	background-size: 25px 25px;
  background-repeat: no-repeat;
	background-color:#2a3644;
	color: #ffffff;
  width: 100%;
  font-size: 15px;
  padding: 12px 20px 12px 40px;
  /*border: 1px solid #ddd;*/
	border: none;
  margin-bottom: 12px;
}

.container td, .container th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1.5%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
		background-color:#2a3644;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
		background-color: #2d3c4c;
}

.container th {
		background-color: #202934;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

/*
.container td:hover {
  background-color: #ffffff;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}
*/

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

a, a:hover, a:active, a:visited { 
	color: white;
  text-decoration: none;
}


/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 60px;
  border: 1px solid #BFC0C0;
  margin: 0px 0px 0px 0px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2D3142;
}

#translate {
  transform: rotate(10deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
}

.button-action {
  display: inline-flex;
  height: 40px;
  width: 85px;
  border: 1px solid #BFC0C0;
  margin: 0px 0px 0px 0px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  /*
  position: relative;
  */
}

.button-action-positive:hover {
  border-color: seagreen;
}

.button-action-positive:hover a {
  color: seagreen;
}

.fa-trash:hover {
    color: #ff0000;
    cursor: pointer;
}
.fa-copy:hover {
    color: seagreen;
    cursor: pointer;
}
.fa-edit:hover {
    color: seagreen;
    cursor: pointer;
}
.fa-qrcode:hover {
    color: seagreen;
    cursor: pointer;
}