.yesno-dialog {
  background-color: #d5d5d5;
	background-color: #364351;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 25%;
}

.yesno-dialog h2 {
  color: #4DC3FA;
}

.yesno-dialog h3 {
  font-size: 14px;
  text-align: center;
}

.button-yes, .button-no {
  display: inline-flex;
  height: 40px;
  width: 75px;
  border: 1px solid #BFC0C0;
  margin: 0px 10px 0px 10px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*
  position: relative;
  cursor: pointer;
  */
}

.button-no {
  float: left;
}

.button-yes {
  float: right;
}

.button-yes:hover {
  border-color:seagreen;
}

.button-no:hover {
  border-color:red;
}

.button-yes a {
  position: relative;
  transition: all .45s ease-Out;
  cursor: pointer;
}